{% extends 'base.html.twig' %}

{% block title %}Room{% endblock %}

{% block body %}




    <div class="bg-blue-100 p-6 rounded-lg shadow-lg">
        <h1 class="text-2xl font-semibold mb-4">Chambre</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th class="pr-4">Id</th>
                    <td>{{ room.id }}</td>
                </tr>
                <tr>
                    <th class="pr-4">Titre</th>
                    <td>{{ room.Titre }}</td>
                </tr>
                <tr>
                    <th class="pr-4">Description</th>
                    <td>{{ room.Description }}</td>
                </tr>
                <tr>
                    <th class="pr-4">Prix</th>
                    <td>{{ room.Prix }}</td>
                </tr>
                <tr>
                    <th class="pr-4">Ref</th>
                    <td>{{ room.Ref }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_room_index') }}" class="text-blue-600 hover:underline mt-4 inline-block">Retour à la liste</a>

        <a href="{{ path('app_room_edit', {'id': room.id}) }}" class="text-green-600 hover:underline ml-4">Modifier</a>

        <a href="{{ path('app_reservation', {'id': room.id}) }}" class="text-yellow-600 hover:underline ml-4">Réservation</a>

       {{ include('room/_delete_form.html.twig') }}
        </form>
    </div>
{% endblock %}



